html,
body {
  height: 100%;
  background-color: #65646a;;
}

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}
.form-signin .checkbox {
  font-weight: 400;
}
.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.btnforsite{
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.navbar-custom {
  background-color: #65646a;
}

.tabs{
  background-color: #cf4411;
}

.nav-link{
  color: white;
}

#logout{
  background-color: white;
  color: #cf4411;
}

h2{
  color: white;
}

h1{
  color: white;
}
.information{
  display: none;
}
#searchingBtn{
  background-color: white;
  color: #cf4411;
}
.searchbox{
  color: white;
}
.wrongText{
  display: none;
}
.template{
  display: none;
}
.removal{
  display:none;
}




